:root {
  --color-primary: #ff7b54;
  --color-text-on-primary: #ffffff;
  --font-family: "Inter", sans serif;
  --color-button-border: var(--color-text-on-primary);
  --color-button-primary-bg: var(--color-text-on-primary);
  --color-button-primary-text: var(--color-primary);

  --color-button-secondary-bg: var(--color-primary);
  --color-button-secondary-text: var(--color-text-on-primary);
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  margin: 0;
}

.body {
  font-family: var(--font-family);
}

.body--primary {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

.body--secondary {
  background-color: var(--color-text-on-primary);
  color: var(--color-primary);
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "logo nav shopping-cart";
  align-items: center;
  padding: 0 60px;
}

.header__link {
  font-size: 40px;
  font-weight: bold;
}

.nav {
  display: inline-block;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-self: flex-end;
}

.nav__list-item {
  margin-inline-end: 36px;
  font-size: 20px;
}

.button {
  font-size: 32px;
  padding: 0 64px;
  height: 100px;
  border: 4px solid var(--color-button-border);
  box-sizing: border-box;
  cursor: pointer;
  transition: outline 0.2s linear;
}

.button:hover,
.button:focus {
  outline: 2px solid var(--color-text-on-primary);
}

.button:not(button:last-of-type) {
  margin-inline-end: 20px;
}

.button__icon {
  vertical-align: middle;
}

.button--primary {
  background: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);
}

.button--secondary {
  background: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
}
