@import "./base.css";

.home .main__heading {
  font-size: 128px;
  font-weight: bold;
}

.home .main__sub-heading {
  font-size: 40px;
}

.button-container {
  display: flex;
  margin-top: 100px;
}

@media (width < 1220px) {
  .home .main__heading {
    font-size: 70px;
  }
}

@media (width < 590px) {
  .home .main__heading {
    font-size: 40px;
  }

  .home .main__sub-heading {
    font-size: 24px;
  }
}

.home .menu path,
.home .close path {
  fill: var(--color-text-on-primary);
}
